name: Atomic Red team Demo
run-name: ${{ github.actor }} is running a atomic red team test
on: [push]
jobs:
  Atomic-Red-Team-Run:
    strategy:
      matrix:
        os: [ventura-ci-1]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Read Atomic Red team tests file
        run: echo "atomics=$(cat atomics.txt)"

      - name: install Atomic red team
        run: |
          IEX (IWR 'https://raw.githubusercontent.com/redcanaryco/invoke-atomicredteam/master/install-atomicredteam.ps1' -UseBasicParsing);Install-AtomicRedTeam -InstallPath "~/.local/powershell/Modules"
          New-Item -ItemType File -Path ~/.config/powershell/Microsoft.PowerShell_profile.ps1 -Force
          echo "Import-Module ~/.local/powershell/Modules/invoke-atomicredteam/" > ~/.config/powershell/Microsoft.PowerShell_profile.ps1
          ls ~/.local/powershell/Modules
          ls ~/.config/powershell
          cat ~/.config/powershell/Microsoft.PowerShell_profile.ps1
        shell: pwsh

      - name: get atomic tests folder
        run: git clone --filter=tree:0 https://github.com/redcanaryco/atomic-red-team.git

      - run: Invoke-AtomicTest T1569.001-1 -GetPrereqs -PathToAtomicsFolder "./atomic-red-team/atomics"
        shell: pwsh
      - name: start eslogger
        run: sudo eslogger exec mmap fork > ~/eslogger.json &
      - name: Run atomic test
        run: Invoke-AtomicTest T1569.001-1 -PathToAtomicsFolder "./atomic-red-team/atomics" -ExecutionLogPath "~/executionlog.json" -LoggingModule "Attire-ExecutionLogger" -TimeoutSeconds 60; return $true
        shell: pwsh
      - name: eslogger stop
        run: sudo pkill eslogger

      - name: Execution log
        run: cat ~/executionlog.json

      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Atomic red team Execution log
          path: |
            ~/executionlog.json
            ~/eslogger.json